{
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "gateway": {
    "bind": "loopback",
    "auth": {
      "mode": "none"
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "openrouter/arcee-ai/trinity-mini:free",
        "fallbacks": [
          "openrouter/arcee-ai/trinity-mini:free",
          "openrouter/openrouter/free",
          "openrouter/nvidia/nemotron-nano-12b-v2-vl:free",
          "openrouter/openrouter/healer-alpha",
          "openrouter/stepfun/step-3.5-flash:free",
          "openrouter/nvidia/nemotron-3-super-120b-a12b:free"
        ]
      }
    }
  }
}
